.css-zxxf05 {
  box-sizing: border-box;
  min-width: 0px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 100%;
  margin: 64px auto 0px;
}
@media screen and (min-width: 767px) {
  .css-zxxf05 {
    width: 384px;
    margin: 80px auto 0px;
  }
}
@media screen and (min-width: 1023px) {
  .css-zxxf05 {
    width: 416px;
  }
}
.css-1md43p8 {
  box-sizing: border-box;
  margin: 0px 0px 16px;
  min-width: 0px;
  text-align: center;
}
.css-t4n8wk {
  box-sizing: border-box;
  margin: 0px 0px 12px;
  min-width: 0px;
  font-weight: 700;
  line-height: 40px;
  font-size: 24px;
  color: rgb(26, 31, 52);
}
@media screen and (min-width: 767px) {
  .css-t4n8wk {
    font-size: 32px;
  }
}
.css-n8nbeh:hover:not(:disabled):not(:active):not(.inactive) {
  box-shadow: none;
  background-image: none;
  background-color: rgba(103, 94, 244, 0.9);
  opacity: 0.9;
}
.css-n8nbeh {
  margin: 8px 0px 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 12px 24px;
  min-width: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-image: none;
  background-color: rgb(103, 94, 244);
  width: 100%;
}
.css-18euaef {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 128px);
  color: rgb(26, 31, 52);
  background-color: rgb(255, 255, 255);
}
.css-1dch6x8 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #FFFFFF;
}.css-f9uc5o {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
    color: #707A8A;
    line-height: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}