.css-1e6tmwa {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fafafa;
}

.css-ctfldp {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 1;
  position: relative;
  top: 0;
  background-color: white;
  -webkit-filter: drop-shadow(0px 7px 6px rgba(207, 207, 207, 0.07));
  filter: drop-shadow(0px 7px 6px rgba(207, 207, 207, 0.07));
  position: relative;
}

@media screen and (min-width: 767px) {
  .css-ctfldp {
    padding-left: 24px;
    padding-right: 24px;
    z-index: 10;
  }
}

@media screen and (min-width: 1023px) {
  .css-ctfldp {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.css-18ukoy4 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-pack: auto;
  -webkit-justify-content: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
}

.css-73i06 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.css-8f6za {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.css-5frbec {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: none;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.css-2oeu9x {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  clear: both;
  padding-left: 0;
  padding-right: 0;
  min-width: 56px;
  min-height: 56px;
  background-image: linear-gradient(93.96deg, #8787f5 0.76%, #5042df 100.57%);
  -webkit-flex-shrink: auto;
  -ms-flex-negative: auto;
  flex-shrink: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .css-2oeu9x {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1023px) {
  .css-2oeu9x {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.css-1tuweav {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 40px;
  line-height: 36px;
  cursor: default;
  color: #ffffff;
}

@media screen and (min-width: 767px) {
  .css-1tuweav {
    height: 56px;
    line-height: 58px;
  }
}

USDT .css-1oaslv6 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 0;
  padding-right: 0;
  min-width: 56px;
  min-height: 56px;
  background-image: none;
  -webkit-flex-shrink: auto;
  -ms-flex-negative: auto;
  flex-shrink: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .css-1oaslv6 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1023px) {
  .css-1oaslv6 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.css-1v7pqln {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 40px;
  line-height: 36px;
  cursor: pointer;
  color: #1a1f34;
}

@media screen and (min-width: 767px) {
  .css-1v7pqln {
    height: 56px;
    line-height: 58px;
  }
}

BTC ETH .css-1vvonr4 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  z-index: 9;
  position: relative;
  padding-bottom: 6px;
}

@media screen and (min-width: 767px) {
  .css-1vvonr4 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1023px) {
  .css-1vvonr4 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.css-j6j9pm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.css-n901vs {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4px;
  padding-bottom: 8px;
  text-align: left;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.css-wc0fcl {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 12px;
  color: #76808f;
}

.css-10nf7hq {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-ybbx55 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  display: inline-block;
  outline: none;
}

.css-1uzbgu3 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 0px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.6;
  border: 1px solid transparent;
  border-color: #f5f5f5;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  height: 34px;
  border-color: #eaecef;
  width: 150px;
}

.css-1uzbgu3.bn-input-status-focus .bn-input-label {
  top: -32px;
}

.css-1uzbgu3 .bn-input-label {
  font-size: 12px;
}

.css-1uzbgu3:hover:not(.bn-input-status-disabled):not(.bn-input-status-error) {
  border-color: #675ef4;
}

.css-1uzbgu3.bn-input-status-focus {
  border-color: #675ef4;
}

.css-1uzbgu3.bn-input-status-disabled {
  background-color: #eaecef;
}

.css-1uzbgu3.bn-input-status-disabled > input {
  color: #b7bdc6;
}

.css-1uzbgu3.bn-input-status-error {
  border-color: #dd3652;
}

.css-1uzbgu3 input {
  color: #1a1f34;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}

.css-1uzbgu3 input:-webkit-autofill {
  -webkit-transition: color 99999s ease-in-out 0s,
    background-color 99999s ease-in-out 0s;
  transition: color 99999s ease-in-out 0s,
    background-color 99999s ease-in-out 0s;
}

.css-1uzbgu3 .bn-input-prefix {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 4px;
  color: #b7bdc6;
}

.css-1uzbgu3 .bn-input-suffix {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  color: #b7bdc6;
}

.css-1uzbgu3:hover {
  z-index: 1;
}

.css-16fg16t {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  opacity: 1;
}

.css-16fg16t::-webkit-input-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-16fg16t::-moz-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-16fg16t:-ms-input-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-16fg16t::placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-1tria08 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #707a8a;
  margin-right: 8px;
}

CNY .css-gv1gi9 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  z-index: 1100;
}

.css-11lind1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  width: 226px;
  padding: 8px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.css-aff4ws {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 62px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #e6e8ea;
  border-radius: 4px;
  margin: 4px;
  cursor: pointer;
}

.css-aff4ws:hover {
  background: #f0b90b;
  border: 1px solid #f0b90b;
}

.css-pd3j1f {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  font-family: inherit;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 20px;
  min-width: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: #1a1f34;
  border-radius: 4px;
  min-height: 24px;
  border: 1px solid;
  box-shadow: none;
  background-color: #ffffff;
  color: #4d58bd;
  border-color: #eaecef;
  margin-top: 4px;
  margin-left: -1px;
  background-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}

.css-pd3j1f:disabled {
  cursor: not-allowed;
  background-image: none;
  background-color: #f5f5f5;
  color: #b7bdc6;
}

.css-pd3j1f:hover:not(:disabled):not(:active) {
  box-shadow: none;
}

.css-pd3j1f.inactive {
  opacity: 0.3;
  cursor: not-allowed;
}

.css-pd3j1f:hover:not(:disabled):not(:active):not(.inactive) {
  box-shadow: none;
  background-color: #f5f5f5;
}

.css-pd3j1f:active:not(:disabled):not(.inactive) {
  box-shadow: none;
  background-color: #eaecef;
}

.css-pd3j1f:hover {
  z-index: 1;
}

.css-1cjl26j {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.css-psscs0 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  padding-left: 6px;
  padding-right: 6px;
}

.css-up63jh {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  outline: none;
  width: 105px;
}

.css-up63jh .bn-sdd-dropdown {
  position: absolute;
  z-index: 1100;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(20, 21, 26, 0.08),
    0px 7px 14px rgba(71, 77, 87, 0.08), 0px 0px 1px rgba(20, 21, 26, 0.1);
  border-radius: 4px;
}

.css-up63jh .bn-sdd-list {
  padding: 0;
  overflow-y: scroll;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.css-up63jh .bn-sdd-optionGroupLabel {
  color: #707a8a;
}

.css-up63jh .bn-sdd-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-up63jh .bn-sdd-icon {
  cursor: pointer;
  vertical-align: middle;
}

.css-up63jh .bn-sdd-optionGroupLabel {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 28px;
}

.css-up63jh .bn-sdd-optionGroupText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.css-up63jh .bn-sdd-option {
  max-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 20px;
}

.css-up63jh .bn-sdd-value {
  min-height: 32px;
  padding-left: 12px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.css-up63jh .bn-sdd-noResults {
  padding: 12px;
  font-size: 14px;
}

.css-up63jh .bn-sdd-innerInputContainer {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.css-up63jh .bn-sdd-icon {
  cursor: pointer;
  vertical-align: middle;
}

.css-up63jh > div:first-of-type {
  height: 32px;
  background-color: transparent;
  border-color: #eaecef;
}

.css-up63jh .bn-sdd-value {
  height: 32px;
  min-height: 32px;
}

.css-up63jh .css-1yfccoe {
  display: none;
}

.css-up63jh .bn-sdd-dropdown .bn-input-prefix {
  display: none;
  color: #b7bdc6;
}

.css-1yjx7aq {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.6;
  background-color: #f5f5f5;
  height: 48px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.css-1yjx7aq.bn-input-status-focus .bn-input-label {
  top: -32px;
}

.css-1yjx7aq.bn-input-md {
  height: 40px;
}

.css-1yjx7aq.bn-input-sm {
  height: 32px;
}

.css-1yjx7aq.bn-input-status-focus {
  background-color: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: #675ef4;
}

.css-1yjx7aq.bn-input-status-disabled {
  background-color: #eaecef;
  opacity: 0.7;
}

.css-1yjx7aq.bn-input-status-disabled > input {
  color: #b7bdc6;
}

.css-1yjx7aq.bn-input-status-error {
  border-color: #dd3652;
}

.css-1yjx7aq input {
  color: #1a1f34;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.css-1yjx7aq input:-webkit-autofill {
  -webkit-transition: color 99999s ease-in-out 0s,
    background-color 99999s ease-in-out 0s;
  transition: color 99999s ease-in-out 0s,
    background-color 99999s ease-in-out 0s;
}

.css-1yjx7aq .bn-input-prefix {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 4px;
  font-size: 14px;
  margin-left: 8px;
  color: #b7bdc6;
}

.css-1yjx7aq .bn-input-suffix {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  color: #b7bdc6;
}

.css-1yjx7aq:hover:not(.bn-input-status-disabled):not(.bn-input-status-error) {
  background-color: #f5f5f5;
  border-color: #675ef4;
}

.css-1yjx7aq .bn-input-suffix {
  height: 100%;
  margin-right: 8px;
}

.css-1jpgac0 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  opacity: 1;
  visibility: hidden;
  cursor: pointer;
  background-color: transparent;
}

.css-1jpgac0::-webkit-input-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-1jpgac0::-moz-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-1jpgac0:-ms-input-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-1jpgac0::placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-13c2b5p {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-qqq3wz {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: #1a1f34;
  fill: currentColor;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  color: #707a8a;
  width: 1em;
  height: 1em;
}

.css-xzk51t {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  height: 40px;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  word-break: keep-all;
  font-size: 14px;
  line-height: 1;
  color: #1a1f34;
}

.css-irs0fm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
  width: 14px;
  height: 14px;
  margin-left: -4px;
  margin-right: 8px;
}

.css-4nj3y {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  outline: none;
  width: 170px;
}

.css-4nj3y .bn-sdd-dropdown {
  position: absolute;
  z-index: 1100;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(20, 21, 26, 0.08),
    0px 7px 14px rgba(71, 77, 87, 0.08), 0px 0px 1px rgba(20, 21, 26, 0.1);
  border-radius: 4px;
}

.css-4nj3y .bn-sdd-list {
  padding: 0;
  overflow-y: scroll;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.css-4nj3y .bn-sdd-optionGroupLabel {
  color: #707a8a;
}

.css-4nj3y .bn-sdd-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-4nj3y .bn-sdd-icon {
  cursor: pointer;
  vertical-align: middle;
}

.css-4nj3y .bn-sdd-optionGroupLabel {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 28px;
}

.css-4nj3y .bn-sdd-optionGroupText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.css-4nj3y .bn-sdd-option {
  max-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 20px;
}

.css-4nj3y .bn-sdd-value {
  min-height: 32px;
  padding-left: 12px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.css-4nj3y .bn-sdd-noResults {
  padding: 12px;
  font-size: 14px;
}

.css-4nj3y .bn-sdd-innerInputContainer {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.css-4nj3y .bn-sdd-icon {
  cursor: pointer;
  vertical-align: middle;
}

.css-4nj3y > div:first-of-type {
  height: 32px;
  background-color: transparent;
  border-color: #eaecef;
}

.css-4nj3y .bn-sdd-value {
  height: 32px;
  min-height: 32px;
}

.css-4nj3y .bn-sdd-optionGroupLabel {
  padding-top: 0;
  padding-bottom: 0;
}

.css-4nj3y .css-1yfccoe {
  display: none;
}

.css-rivkf9 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  background-color: transparent;
}

.css-rivkf9::-webkit-input-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-rivkf9::-moz-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-rivkf9:-ms-input-placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-rivkf9::placeholder {
  color: #b7bdc6;
  font-size: 14px;
}

.css-1g678at {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  margin-right: 30px;
}

.css-1wmmfja {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  font-family: inherit;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 20px;
  min-width: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: #ffffff;
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-color: #b7bdc6;
  color: #1a1f34;
  background-color: #eaecef;
  width: 102px;
  display: none;
}

.css-1wmmfja:disabled {
  cursor: not-allowed;
  background-image: none;
  background-color: #f5f5f5;
  color: #b7bdc6;
}

.css-1wmmfja:hover:not(:disabled):not(:active) {
  box-shadow: none;
}

.css-1wmmfja.inactive {
  background-color: #6e7180;
  opacity: 0.3;
  cursor: not-allowed;
}

.css-1wmmfja:disabled:not(.inactive) {
  background-color: transparent;
  color: #b7bdc6;
}

/* .css-1wmmfja:hover:not(:disabled):not(:active):not(.inactive) {
    background-color: button.graytypeHoverBg;
    color: #3c4152;
  }

  .css-1wmmfja:active:not(:disabled):not(.inactive) {
    background-color: button.graytypePressedBg;
    color: #3c4152;
  } */

@media screen and (min-width: 767px) {
  .css-1wmmfja {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.css-1osipyl {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 14px;
  height: 14px;
  font-size: 14px;
  fill: #1a1f34;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.css-1c1ahuy {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-left: 4px;
}

.css-w6h28z {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.08);
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}

.css-11735e1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  height: auto;
  line-height: 14px;
  color: #212833;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  width: 152px;
}

.css-11735e1:visited,
.css-11735e1:active {
  background-color: #f5f5f7;
}

.css-11735e1:hover {
  background-color: #f5f5f7;
}

.css-1g7pa1f {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  background-color: #fafafa;
}

@media screen and (min-width: 767px) {
  .css-1g7pa1f {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1023px) {
  .css-1g7pa1f {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.css-1jsnjtq {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1200px;
}

.css-1bwsr3r {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: transparent;
}

.css-14f6ssc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 48px;
  height: 48px;
  margin: auto;
}

.css-1mw33qc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #675ef4;
  height: 100%;
  width: 3px;
  -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
  animation: animation-hqgv56 1.2s infinite ease-in-out;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.css-1f7atvy {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #675ef4;
  height: 100%;
  width: 3px;
  -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
  animation: animation-hqgv56 1.2s infinite ease-in-out;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.css-gj5azt {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #675ef4;
  height: 100%;
  width: 3px;
  -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
  animation: animation-hqgv56 1.2s infinite ease-in-out;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.css-1bs98tk {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #675ef4;
  height: 100%;
  width: 3px;
  -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
  animation: animation-hqgv56 1.2s infinite ease-in-out;
  -webkit-animation-delay: -0s;
  animation-delay: -0s;
}

@-webkit-keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animation-hqgv56 {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.css-1grcmhm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  color: #1a1f34;
  background-color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 767px) {
  .css-1grcmhm {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 48px;
  }
}

@media screen and (min-width: 1023px) {
  .css-1grcmhm {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 62px;
  }
}

.css-1grcmhm a,
.css-1grcmhm a:active,
.css-1grcmhm a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}

.css-1grcmhm > div {
  height: 100%;
}

.css-1engtlv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(132, 142, 156);
  font-size: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgb(245, 245, 245);
  background: rgb(250, 250, 250);
}
.css-1ee59nr {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
  flex: 260 1 0%;
}
.css-yvjfec {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
  flex: 242 1 0%;
}
.css-8i4gf0 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
  flex: 265 1 0%;
}
.css-az0ant {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: none;
  flex: 185 1 0%;
}

@media screen and (min-width: 767px) {
  .css-az0ant {
    display: none;
  }
}
@media screen and (min-width: 1023px) {
  .css-az0ant {
    display: block;
  }
}
.css-1dbfbyw {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 126 1 0%;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.css-vurnku {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}
.css-1u8clgq {
  box-sizing: border-box;
  margin: 0px 0px 0px 8px;
  min-width: 0px;
  color: rgb(42, 195, 149);
  background-color: rgb(230, 255, 241);
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
}

.css-1f0y5pt {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid rgb(245, 245, 245);
  width: 100%;
  flex-direction: column;
  min-height: auto;
  position: relative;
  background: transparent;
}
.css-1q1sp11 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 2;
}
.css-1mjaumg {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 260 1 0%;
  flex-direction: column;
}
.css-22x53h {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.css-1rhb69f {
  box-sizing: border-box;
  margin: 0px 0px 12px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 24px;
}
.css-fcyz22 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  border-radius: 50%;
  background-color: rgb(103, 94, 244);
  font-size: 12px;
  text-align: center;
  color: white;
  width: 16px;
  height: 16px;
  line-height: 16px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-1xfitk7 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.css-1f9551p {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-block;
  position: relative;
}
div.bn-tooltip-box {
  background: rgb(110, 113, 128);
}

.css-ft2fn3 {
  box-sizing: border-box;
  margin: 0px 4px;
  min-width: 0px;
  max-width: 100%;
  width: 14px;
  height: 14px;
}
.css-15400dx {
  margin: 0px;
  min-width: 0px;
  box-sizing: content-box;
  position: absolute;
  width: max-content;
  word-break: normal;
  z-index: 1400;
  max-width: 296px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(110, 113, 128);
  border-radius: 4px;
  padding: 8px 12px;
  filter: drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px)
    drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px)
    drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);
}
.css-2m7z0 {
  box-sizing: border-box;
  margin: 0px 0px 0px 10px;
  min-width: 0px;
  display: flex;
  color: rgb(112, 122, 138);
  font-size: 12px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 767px) {
  .css-2m7z0 {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1023px) {
  .css-2m7z0 {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 1023px) {
  .css-hg6173 {
    margin-top: 0px;
    margin-left: 14px;
  }
}
@media screen and (min-width: 767px) {
  .css-hg6173 {
    margin-top: -6px;
    margin-left: 0px;
  }
}
.css-hg6173 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(112, 122, 138);
}

.css-1u7jnqh {
  box-sizing: border-box;
  margin: 0px 4px;
  min-width: 0px;
  width: 1px;
  height: 8px;
  background-color: rgb(234, 236, 239);
  display: none;
}
@media screen and (min-width: 767px) {
  .css-1u7jnqh {
    display: none;
  }
}
@media screen and (min-width: 1023px) {
  .css-1u7jnqh {
    display: block;
  }
}

@media screen and (min-width: 1023px) {
  .css-k4qtt {
    margin-top: 0px;
  }
}

@media screen and (min-width: 767px) {
  .css-k4qtt {
    margin-top: 6px;
  }
}
.css-k4qtt {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(112, 122, 138);
}
.css-11db165 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 242 1 0%;
}

@media screen and (min-width: 1023px) {
  .css-4ptx7h {
    flex-direction: row;
  }
}

@media screen and (min-width: 767px) {
  .css-4ptx7h {
    flex-direction: column;
  }
}
.css-4ptx7h {
  box-sizing: border-box;
  margin: 0px 0px 12px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  height: 24px;
  flex-direction: column;
}
.css-1kj0ifu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: baseline;
  align-items: baseline;
}
.css-1m1f8hn {
  box-sizing: border-box;
  margin: 0px 4px 0px 0px;
  min-width: 0px;
  font-size: 20px;
  color: rgb(11, 14, 17);
}
.css-dyl994 {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
  font-size: 12px;
}
.css-lalzkr {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 265 1 0%;
  flex-direction: column;
}

.css-3v2ep2 {
  box-sizing: border-box;
  margin: 0px 0px 8px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .css-3v2ep2 {
    flex-direction: column;
  }
}
@media screen and (min-width: 1023px) {
  .css-3v2ep2 {
    flex-direction: row;
  }
}

.css-1xov8jg {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 50px;
  text-align: left;
}
.css-1ez451f {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(112, 122, 138);
}

.css-tlcbro {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 185 1 0%;
  display: none;
  flex-wrap: wrap;
}

@media screen and (min-width: 767px) {
  .css-tlcbro {
    display: none;
  }
}

@media screen and (min-width: 1023px) {
  .css-tlcbro {
    display: block;
  }
}
.css-1q73lj8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (min-width: 767px) {
  .css-1q73lj8 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
@media screen and (min-width: 1023px) {
  .css-1q73lj8 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
.css-16w8hmr {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  flex-direction: column;
}

@media screen and (min-width: 767px) {
  .css-16w8hmr {
    flex-direction: column;
  }
}
@media screen and (min-width: 1023px) {
  .css-16w8hmr {
    flex-direction: row;
  }
}
.css-prp3gn {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  font-size: 14px;
}
.css-1tr1euu {
  box-sizing: border-box;
  margin: 0px 4px;
  min-width: 0px;
  font-size: 14px;
}
.css-1n3cl9k {
  box-sizing: border-box;
  margin: 0px 0px 8px;
  min-width: 0px;
  display: inline-block;
  position: relative;
}
.css-306nk4 {
  box-sizing: border-box;
  margin: 0px 4px 0px 0px;
  min-width: 0px;
  display: flex;
  background-color: rgb(245, 245, 245);
  border-radius: 2px;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px;
}
.css-tynd6k {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(1, 169, 242);
}
.css-1dkiexa {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(45, 193, 0);
}
.css-ys39k9 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(240, 185, 11);
}
.css-12cfnoy {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 126 1 0%;
}
.css-ha0br8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  width: 0px;
  align-items: flex-start;
}
@media screen and (min-width: 767px) {
  .css-ha0br8 {
    width: 136px;
  }
}

@media screen and (min-width: 1023px) {
  .css-ha0br8 {
    width: 136px;
  }
}
.css-1d0yk00 {
  margin: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 6px 12px;
  min-width: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-color: rgb(42, 195, 149);
  width: 0px;
}
@media screen and (min-width: 767px) {
  .css-1d0yk00 {
    width: 136px;
  }
}

@media screen and (min-width: 1023px) {
  .css-1d0yk00 {
    width: 136px;
  }
}
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.css-kwfbf {
  box-sizing: border-box;
  margin: 24px 0px 32px;
  min-width: 0px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.css-b0tuh4 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-12is4d0:disabled {
  cursor: default;
}

.css-12is4d0 {
  box-sizing: border-box;
  margin: 0px 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  border: none;
  outline: none;
  height: 28px;
  padding: 0px;
  background-color: transparent;
  border-radius: 4px;
  font-weight: 400;
  min-width: 16px;
  color: rgb(234, 236, 239);
}
.css-1he63p4 {
  box-sizing: border-box;
  margin: 0px 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  border: none;
  outline: none;
  min-width: 28px;
  height: 28px;
  padding: 0px;
  background-color: rgb(234, 236, 239);
  border-radius: 4px;
  color: rgb(26, 31, 52);
  font-weight: 500;
}
.css-1jyxmnl {
  box-sizing: border-box;
  margin: 0px 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  border: none;
  outline: none;
  min-width: 28px;
  height: 28px;
  padding: 0px;
  background-color: transparent;
  border-radius: 4px;
  color: rgb(60, 65, 82);
  font-weight: 400;
}
.css-td3ju8 {
  box-sizing: border-box;
  margin: 0px 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  border: none;
  outline: none;
  height: 28px;
  padding: 0px;
  background-color: transparent;
  border-radius: 4px;
  font-weight: 400;
  min-width: 16px;
  color: rgb(60, 65, 82);
}
.css-1ejpgf8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  inset: 0px;
  background: rgba(255, 255, 255, 0.5);
  display: none;
}

.css-iw3kn1 {
  margin: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 6px 12px;
  min-width: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-color: rgb(246, 70, 91);
  width: 0px;
}

@media screen and (min-width: 1023px) {
  .css-iw3kn1 {
    width: 136px;
  }
}
@media screen and (min-width: 767px) {
  .css-iw3kn1 {
    width: 136px;
  }
}
